<div class="container">
    <div class="row">
        <div class="column mt-2 mb-2">
            <a routerLink="/photos">
                <div class="container-gallery">
                    <img src="assets/img/album1.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos">
                <div class="container-gallery">
                    <img src="assets/img/album2.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos">
                <div class="container-gallery">
                    <img src="assets/img/album3.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos">
                <div class="container-gallery">
                    <img src="assets/img/album4.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos">
                <div class="container-gallery">
                    <img src="assets/img/album5.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos">
                <div class="container-gallery">
                    <img src="assets/img/album6.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>