<div class="container my-5">
    <div class="row">
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/schloss">
                <div class="container-gallery">
                    <img src="assets/img/album1.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/wedding">
                <div class="container-gallery">
                    <img src="assets/img/album2.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/water">
                <div class="container-gallery">
                    <img src="assets/img/album3.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/animal">
                <div class="container-gallery">
                    <img src="assets/img/album4.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/mountain">
                <div class="container-gallery">
                    <img src="assets/img/album5.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/city">
                <div class="container-gallery">
                    <img src="assets/img/album6.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/sport">
                <div class="container-gallery">
                    <img src="assets/img/album7.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/animals">
                <div class="container-gallery">
                    <img src="assets/img/album8.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column mt-2 mb-2">
            <a routerLink="/photos/retro">
                <div class="container-gallery">
                    <img src="assets/img/album9.jpg" class="image">
                    <div class="overlay">
                        <div class="text">Enjoy these pictures</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>