<footer class=" text-center text-lg-start footer-user w-100 p-2">
    <div class="icon-user d-flex justify-content-center">
        <a class="text-dark d-flex" href="#"><img class="imgF-user" src="/assets/img/face.png" alt=""></a>
        <a class="text-dark d-flex" href="#"><img class="imgI-user" src="/assets/img/insta.png" alt=""></a>
        <a class="text-dark d-flex" href="#"><img class="imgT-user" src="/assets/img/tik.png" alt=""></a>
        <a class="text-dark d-flex" href="#"><img class="imgT-user" src="/assets/img/logo.png" alt=""></a>
        <p class="text-dark d-flex">© 2022 Alex G., Ghazi A., Jan F., Manuel W.</p>
    </div>
</footer>