.icon-user {
    margin-left: 2%;
    color: aliceblue;
    font-family: 'Rouge Script', cursive;
    font-size: 4vw;
    font-weight: bolder;
}

.footer-user {
    position: fixed;
    bottom: 0;
    background: linear-gradient(24deg, rgba(73, 44, 93, 1) 8%, rgba(40, 30, 47, 1) 23%, rgba(42, 34, 26, 1) 41%, rgba(88, 76, 59, 1) 48%, rgba(0, 0, 0, 1) 52%, rgba(45, 41, 110, 1) 63%, rgba(22, 20, 101, 1) 74%, rgba(3, 3, 93, 1) 75%, rgba(182, 164, 142, 1) 92%, rgba(255, 242, 229, 1) 100%, rgba(149, 129, 109, 1) 100%);
    background-size: 300% 200%;
    animation: gradientChang 7s ease infinite;
}

.imgF-user {
    width: 6.5%;
    height: 7%;
}

.imgI-user {
    width: 5%;
    height: 5%;
}

.imgT-user {
    width: 7%;
    height: 7%;
}

@keyframes gradientChang {
    0% {
        background-position: 0% 10%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}