<footer class=" text-center text-lg-start footer-user w-100 p-2">
    <div class="icon-user">
        <a class="text-dark " href="#"><img class="imgF-user" src="/assets/img/face.png" alt=""></a>
        <a class="text-dark " href="#"><img class="imgI-user" src="/assets/img/insta.png" alt=""></a>
        <a class="text-dark " href="#"><img class="imgT-user" src="/assets/img/tik.png" alt=""></a>
        <a class="text-dark" href="#"><img class="imgT-user" src="/assets/img/logo.png" alt=""></a> © 2022 Copyright:www.photography.com
    </div>
</footer>