<div class="container my-5">
    <div class="card mb-3 box-style border-style bg-transparent" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/img/men.jpg" class="img-fluid " alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body opacity-back">
                    <h5 class="text text-light font-style text-dark">About me</h5>
                    <p class="card-text text text-dark fs-5 ">I'm a photographer with over 10 years of experience.<br> With my huge work experience i can do the best pictures in this city for you.<br>I will make sure that i capture your best moments in your life with my professional photography.</p>
                    <p class="card-text"><small class="text text-dark text-opacity-50">Dont hesitate to contact me.</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col-12 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center my-2">
                <div class="card border-style bg-transparent" style="width: 18rem;">
                    <img src="assets/img/gymnast.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center text-dark">Sport photography</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center my-2">
                <div class="card border-style bg-transparent" style="width: 18rem;">
                    <img src="assets/img/lake.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <p class="card-text text-center text-dark">Nature photography</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center my-2">
                <div class="card border-style bg-transparent" style="width: 18rem;">
                    <img src="assets/img/marriage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center text-dark">Wedding photography</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>