<!-- <img src="assets/img/hero.jpg" class="card-img" alt="..."> -->
<!-- <h5 class="card-title text-center text-color fs-1">Welcome</h5>
        <p class="card-text text-center mt-4 fs-5 text-color2">Photos full of Energy & Passion.</p>
        <button class="btn btn-primary btn-style">make a booking</button>
        <p class="card-text"></p> -->
<div class="hero-image">
    <div class="position">
        <h5 class="card-title text-center text-color fs-1 pt-5">Welcome</h5>
        <p class="card-text text-center mt-4 fs-5 text-color2 ">Photos full of Energy & Passion.</p>
        <a routerLink="contact"><button class="btn btn-style">Make a booking</button></a>
        <p class="card-text"></p>
    </div>
</div>