<div class="card bg-transparent ">
    <img src="/assets/img/golden Award.png" class="card-img-top img-award " alt="...">
    <div class="card-body">
        <h5 class="card-text text-center  card-award-1">2022 was a Golden year for us because this year we won the Golden Camera Award
        </h5>
        <h5 class="card-text text-center card-award-2">We were really happy to receive this Award but our real happiness is to have people supporting us.</h5>
        <h5 class="card-text text-center card-award-3">We hope that your support will continue in order to reach more and more Awards and we will always remain at your best</h5>
        <h1 class="card-text text-center  card-award-0">Thanks for your Support</h1>


    </div>