.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .mySwiper .swiper-slide {
    background-color: cornflowerblue;
    background-position: center;
    background-size: cover;
    width: var(--swiperWidth);
    height: var(--swiperHeight);
  }

  .swiper-slide img {
    display: block;
    width: inherit;
    height: inherit;
    -o-object-fit: cover;
    -o-object-position: center;
    object-fit: cover;
    object-position: center;
  }

  .mySwiper2 .swiper-slide {
    width: 100%;
    height: calc(var(--swiperHeight)/4);
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }