<h1 class="text-center text-light">Testimonials</h1>
<div class="container bg-change ">
    <div class="row mt-5 mb-3  ">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center my-2">
            <div class="card border-style opacity-style " style="width: 18rem;">
                <!-- <img src="assets/img/" class="card-img-top" alt="..."> -->
                <div class="card-body bg-color">
                    <h1 class="text-size">Peter</h1>
                    <p class="card-text text-center text-warning fs-1">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <hr>
                    <p class="card-text text-center">Great pictures i will book this guy again.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center my-2">
            <div class="card border-style opacity-style" style="width: 18rem;">
                <!-- <img src="assets/img/" class="card-img-top" alt="..."> -->
                <div class="card-body bg-color">
                    <h1 class="text-size">Anna</h1>
                    <p class="card-text text-center text-warning fs-1">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <hr>
                    <p class="card-text text-center">Thank you so much for this great wedding pictures. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 col-sm-12 d-flex  justify-content-center my-2">
            <div class="card border-style opacity-style" style="width: 18rem;">
                <!-- <img src="assets/img/" class="card-img-top" alt="..."> -->
                <div class="card-body bg-color">
                    <h1 class="text-size">Sandra</h1>
                    <p class="card-text text-center text-warning fs-1">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <hr>
                    <p class="card-text text-center">Very proffessional pictures.</p>
                </div>
            </div>
        </div>
    </div>
</div>